.nolink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.background-container {
  background-image: url("https://preview.redd.it/ihfnlpbze7o01.jpg?auto=webp&s=94fe8990d7b61c4debfb310f656aedf8327ac722");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.background-minicontainer {
  background-image: url("https://media.istockphoto.com/id/1128410927/it/foto/sfondo-cielo-blu-e-nuvole-bianche-soft-focus-e-copiare-spazio.jpg?s=612x612&w=0&k=20&c=UXDdAvrwp3mPYU6SlDoJxX96DiYtDQjTOUJHTg4nDsY=");
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}
